.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .container {
  width: 100%;
  max-width: 1024px;
} */

ul.nav-bar {
  text-align: left;
  background: #ccc;
  padding: 15px;
  margin: 0;
}

ul.nav-bar li {
  display: inline;
  padding: 10px;
}

input.input-box {
  display: block;
  margin-left: 43%;
  margin-bottom: 15px;
}

button.sign-button {
  padding: 5px;
  text-align: left;
  margin-left: 43%;
  display: block;
  background: skyblue;
  border: none;
  cursor: pointer;
}

.nav-bar li button {
  background: none;
  border: navajowhite;
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

.footer {
  position: absolute;
  background: #ccc;
  bottom: 0;
  width: 100%;
}

.product-list table {
  text-align: center;
  margin-left: 34%;
}

.product-list table th {
    padding: 5px;
}

table, th, td {
  border: 1px solid;
}

.public-links {
  float: right;
  margin-left: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
